/*general-attributes-begin*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/*general-attributes-end*/

/*utility-begin*/
.d-flex {
    display: flex;
}

/*premade-containers-sizing-begin*/

.content-container {
    height: 500px;
    width: 62.5%;
}

.img-container {
    height: 100%;
}

.paragraph-container {
    height: 100%;
}

/*premade-containers-sizing-end*/


/*utility-end*/


/*debug-begin*/
.debug {

    header {
        background-color: red;

        .header-container {
            background-color: yellow;

            nav {
                background-color: orange;
            }

            .logo-section {
                background-color: green;
            }

            .login-section {
                background-color: green;
            }


        }
    }

    main section div,
    main section div div {
        /*box around all divs inside main and inside those divs*/
        border: 3px dotted black;
    }

    /*premade-containers-debug-begin*/

    .content-container {
        background-color: violet;
    }

    .img-container {
        background-color: lightcoral;
    }

    .paragraph-container {
        background-color: pink;
    }

    /*premade-containers-debug-end*/

    #jumbotron {
        background-color: blue;
    }

    #invite-only {
        background-color: white;
    }

    #community {
        background-color: lightgray;
    }

    #fandom {
        background-color: white;
    }

    #technology {
        background-color: lightgray;

        .img-container {
            background-color: green;
        }
    }

    footer {
        background-color: black;
    }





}

/*debug-end*/

/*header-begin*/
header {
    min-height: 80px;
    justify-content: space-around;
    align-items: center;


}

.header-container {
    width: 62.5%;
    align-items: center;
    height: 50px;

    section {
        height: 50px;
        width: 20%;
        align-items: center;
        padding: 0.75rem;
    }

    nav {
        height: 50px;
        width: 60%;
        align-items: center;
        justify-content: center;

        gap: 10px;
    }
}

.login-section {
    justify-content: end;
}

/*header-end*/
/*main-begin*/

#jumbotron {
    justify-content: center;
    align-items: center;
    height: 500px;

    .content-container {
        height: 80%;
        width: 47.5%;
    }
}

.content-section {
    height: 600px;
    justify-content: center;
    align-items: center;

    .content-container {
        justify-content: center;
        align-items: center;

        .img-container {
            height: 100%;
            min-width: 60%;
        }

        .paragraph-container {
            height: 100%;
            min-width: 40%;
        }

    }



}

footer {
    height: 100%;
}