* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

.debug {

    header {
        background-color: red;

        .header-container {
            background-color: yellow;

            nav {
                background-color: orange;
            }

            .logo-section {
                background-color: green;
            }

            .login-section {
                background-color: green;
            }


        }
    }

    main section div,
    main section div div {
        /*box around all divs inside main and inside those divs*/
        border: 3px dotted black;
    }

    #jumbotron {
        background-color: blue;

        .jumbo-content-container {
            background-color: lightcoral;
        }
    }

    #invite_only {
        background-color: lightblue;
    }

    #community {
        background-color: blue;
    }

    #fandom {
        background-color: lightblue;
    }

    #technology {
        background-color: blue;
    }

    footer {
        background-color: red;
    }





}

.d-flex {
    display: flex;
}



header {
    min-height: 80px;
    justify-content: space-around;
    align-items: center;


}

.header-container {
    width: 62.5%;
    align-items: center;
    height: 50px;

    section {
        height: 50px;
        width: 20%;
        align-items: center;
        padding: 0.75rem;
    }

    nav {
        height: 50px;
        width: 60%;
        align-items: center;
        justify-content: center;

        gap: 10px;
    }
}

.login-section {
    justify-content: end;
}

main section {
    height: 500px;
}

#jumbotron {
    justify-content: center;
    align-items: center;

    .jumbo-content-container {
        height: 80%;
        width: 47.5%;
    }
}